<!DOCTYPE html>
<link rel="stylesheet" href="style.css">

<html lang="en" id="page">
<head>
  <title>Game Dev Project Simulation</title>
</head>
<body>
  
  <div class="container">
    
<!-- 
pictures to the left
!-->
<div class="container2">
  <img src="https://i.imgur.com/FjTCmIY.png" class="left_img1">
  <div>
    <h1 class="head-title">
      Welcome to Project:
      <i class="simulation">Simulation</i>
      <img src="https://i.imgur.com/sYUCvko.png" class="right_img1">
    </h1> 
  </div>
</div>

    </h1>
    
    <p>An open source project focused on developing skills.</p>
    <hr>
    <p class="skills-intro">Here are some of the skills you can expect to practice for joining our team:</p>

    <ul>
      <p>Backend Python Development</p>
      <li>Python OOP (object-oriented programming)</li>
      <li>Python ML and AI (libraries like numpy, PyTorch, etc.)</li>
      <style>
  .resized-image {
    width: 400px;
    height: 600px;
    float: right;
  }
</style>

<img src="https://i.imgur.com/qTdwJ5t.png" alt="Game Dev Logo" class="resized-image" />


      <li>While not the focus, we still implement game logic and game dev components</li>

      <p>Frontend Python Development</p>
      <li>PyGame (working displays, key inputs, etc.)</li>
      <li>Files/Organization (interaction with backend and files)</li>
      <li>Translating PNGs and animations into something users can see and interact with.</li>

      <p>For Art Development</p>
      <li>Animation and somewhat realistic workflow for artists</li>
      <li>Basic game arts and covers</li>

      <p>Other topics that we are looking for:</p>
      <li>People who work with sound effects</li>
      <li>People who can think about new game dev ideas and concepts</li>
      
      <p>Other:</p>
      <li> Code <a href="https://github.com/AX028/project-website">Github</a> Source Page </li>
      <li>Discord Server  </li>
      <li>Form</li>
      
      <form action="/submit" method="POST">
        <input type="text" name = "name" placeholder="Your Name">
        <input type="email" name="email" placeholder = "Your Email">
        <input type="message" name="message" placeholder="Additional Comments"></textarea>
      <button type="submit">Submit</button>
      </form>
      
    </ul>
  </div>
</body>
</html>
